POKER_ROLE=standalone
POKER_NODE_ID=game-1
POKER_PUBLIC_ENDPOINT=127.0.0.1:7000
POKER_LISTEN_HOST=0.0.0.0
POKER_LISTEN_PORT=7000
POKER_METRICS_HOST=0.0.0.0
POKER_METRICS_PORT=9100
POKER_IO_THREADS=4
POKER_LOGIC_SHARDS=4
POKER_ACTION_TIMEOUT_MS=20000
POKER_CONNECTION_IDLE_TIMEOUT_MS=45000
POKER_NODE_FAILURE_GRACE_MS=15000
POKER_MAX_FRAME_BYTES=1048576
POKER_MAX_PENDING_SEND_BYTES=4194304
POKER_REQUESTS_PER_SECOND=100
POKER_REQUEST_BURST=200

POKER_MYSQL_HOST=mysql
POKER_MYSQL_PORT=3306
POKER_MYSQL_USER=poker
POKER_MYSQL_PASSWORD=change-me
POKER_MYSQL_DATABASE=poker
POKER_MYSQL_POOL_SIZE=8

POKER_REDIS_HOST=redis
POKER_REDIS_PORT=6379
POKER_REDIS_PASSWORD=
POKER_REDIS_DATABASE=0
POKER_SESSION_TTL_SECONDS=86400

MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PASSWORD=change-me
